<ngbx-data-table
	[documents]="documents"
	[columns]="columns"
	[limit] = "params.limit"
	[sortBy] = "params.sortBy"
	[order] = "params.order"
	count = "33"
	[templates] = "{'MoreInfoTemplate':MoreInfoTemplate,'PriceTemplate':PriceTemplate,'SellerTemplate':SellerTemplate}"
	(refetch)="onRefetch($event)">

</ngbx-data-table>

<ng-template #PriceTemplate let-document="document">
	$ {{document.Price}}
</ng-template>
<ng-template #SellerTemplate let-document="document">
	{{document.SellerCity}}, {{document.SellerState}}
</ng-template>
<ng-template #MoreInfoTemplate let-document="document">
	<a (click)="showMoreInfo(document.ID)" href="/">availability..</a>
</ng-template>
